{% extends "base/base.html" %}

{% block title %} Madad {% endblock %}

{% block container %}
<div class="container">
	<h2> Find a Project </h2>
	
	<div class="row">
		<div class="span2"><h4>Browse by:</h4></div>
		<div class="span3"> 
			<select class="select-block span3" value="Categories" name="herolist" style="display: none;">
				<option value="0">Categories</option>
				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education</option>
				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Poverty Alleviation</option>
				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Violence</option>
				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health</option>
				<option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Disaster Relief</option>
				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Energy</option>
				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agriculture</option>
				<option value='-' disabled>――――</option>
				<option value="3">Staff Picks</option>
				<option value='-' disabled>――――</option>
				<option value="3">Recently Funded</option>
				<option value='-' disabled>――――</option>
				<option value="3">Popularity</option>
			</select>
		</div>
		 
		<div class="span3"></div>
		
		<div class="span1"><h4>Search:</h4></div>
		<div class="span3"> 
			<input class="span3" type="text" placeholder="" value="">
		</div>
	</div>
 
 <p/>
 
 <div class="container">
	<h3> Education </h3>
	<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>
	
	<h3> Poverty Alleviation </h3>
		<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>
	
	<h3> Violence </h3>
		<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				 
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>
	
	<h3> Health </h3>
		<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>
	
	<h3> Disaster Relief </h3>
		<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>
	
	<h3> Energy </h3>
		<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>

	<h3> Agriculture </h3>
		<div class="row demo-tiles">
	    <div class="span3">
			<div class="tile">
				<img width="250" height="150" src="https://s3.amazonaws.com/ksr/projects/555392/photo-little.jpg?1369169224" class="projectphoto-little" alt="Photo-little">
				<h4>develop educational approach to meat processing</h4>
				<p/>				
				<div class="progress">
					<div style="width: 45%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>45%</strong> funded</span> |
					<span><strong>$268,165</strong> pledged</span> |
					<span><strong>3</strong> days to go</span>
				</div>
			</div>
        </div>

		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/673196/photo-little.jpg?1378509692" alt="Photo-little">
				<h4>give school tour to deserving students in Lahore</h4>
				<p/>				
				<div class="progress">
					<div style="width: 75%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>75%</strong> funded</span> |
					<span><strong>80 hours</strong> pledged</span> |
					<span><strong>13</strong> days to go</span>
				</div>
			</div>
        </div>
		
		<div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/658660/photo-little.jpg?1377543461" alt="Photo-little">
				<h4>illustrate history of U.S. Presidential assassinations</h4>
				<p/>				
				<div class="progress">
					<div style="width: 25%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>25%</strong> funded</span> |
					<span><strong>$2000</strong> pledged</span> |
					<span><strong>5</strong> days to go</span>
				</div>
			</div>
        </div>

        <div class="span3">
			<div class="tile">
				<img class="projectphoto-little" width="200" height="150" src="https://s3.amazonaws.com/ksr/projects/508393/photo-little.jpg?1378578546" alt="Photo-little">
				<h4>teach music in minutes through instructional video games</h4>
				<p/>				
				<div class="progress">
					<div style="width: 15%;" class="bar"></div>
				</div>				
				<div class="demo-content">
					<span><strong>15%</strong> funded</span> |
					<span><strong>$4500</strong> pledged</span> |
					<span><strong>15</strong> days to go</span>
				</div>
			</div>
        </div>		
    </div>
	
	<center>
		<div class="pagination">
            <ul>
              <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
            </ul>
          </div>
	</center>
</div>

{% endblock %}