{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
{{ profile_user.first_name }} {{ profile_user.last_name }} ({{ profile_user.username }})
{% endblock %}

{% block css %}
<link href="{% static "css/social/profile.css" %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{% static "js/social/profile.js" %}">
</script>
{% endblock %}

{% block container %}
<header class="sidebar">
  <div class="sidebar-background">
    <div class="sidebar-profile">
      <div class="sidebar-avatar">
        <a href="/social/user/{{ profile_user.username }}">
          <img src="{{ profile_user.photo.url }}" class="profile-photo">
        </a>
      </div>
      <h2 class="sidebar-name">
        <a href="/social/user/{{ profile_user.username }}">@{{ profile_user.username }}</a>
      </h2>
      <div class="sidebar-location">
        {{ profile_user.location }}
      </div>
      <div class="sidebar-bio">
        {{ profile_user.biography }}
      </div>
    </div>
  </div>
</header>
<div class="social-content">
<div class="social-name-container">
  <h1 class="social-name">{{ profile_user.first_name }} {{ profile_user.last_name }}</h1>
  {% ifnotequal profile_user user %} 
    {% if follows %}
      <a data-id="{{ profile_user.username }}" class="btn btn-primary btn-large follow-btn" href="#" onclick="unfollow_user(this);">Unfollow</a>
    {% else %}
      <a data-id="{{ profile_user.username }}" class="btn btn-primary btn-large follow-btn" href="#" onclick="follow_user(this);">Follow</a>
    {% endif %}
  {% endifnotequal %}
</div>
<br/>
<div class="recent-activities">
  <h4>Recent Activities</h4>
</div>
{% for activity in activities.all %}
  <div class="activity">
    <p class="activity-text"><a href="#"><span data-id="{{ activity.hash_id }}" class="fui-heart activity-like" onclick="like_activity(this);"></a></span> &nbsp&nbsp 
    {% if activity.donationactivity %}
    Donated {{ activity.donationactivity.donation.amount }} to <a href="/campaign/viewcampaign/{{ activity.donationactivity.donation.campaign.hash_id }}">{{ activity.donationactivity.donation.campaign.name }}
    {% elif activity.followactivity %}
    Started following <a href="/social/user/{{ activity.followactivity.followed_user.username }}">{{ activity.followactivity.followed_user.first_name }} {{ activity.followactivity.followed_user.last_name }}
    {% endif %}
    </a>.</p>
    <div class="activity-meta">
      <time class="activity-time">{{ activity.date_created }}</time>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
