{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "external/flatui/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "external/flatui/css/flat-ui.css" %}" rel="stylesheet">
    <link href="{% static "css/base/base.css" %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <header class="base-header">
        <div class="base-logo">MADDAD</div>
        <nav class="base-nav">
          <div>
            {% if user.is_authenticated %}
              <a href="/social/user/{{ user.username }}" class="base-login-link">@{{ user.username }}</a>
            {% else %}
              <a href="/social/signup/" class="base-signup-link">Signup</a>
              <a href="/social/login/" class="base-login-link">Login</a>
            {% endif %}
          </div>
        </nav>
      </header>
      <div class="inner-container row">
        {% block container %}
        {% endblock %}
      </div>
      <div class="footer row">
      
      </div>
    </div>
    <script src="{% static "external/flatui/js/jquery-1.8.3.min.js" %}">
    </script>
    <script src="{% static "external/flatui/js/jquery-ui-1.10.3.custom.min.js" %}">
    </script>
    <script src="{% static "external/flatui/js/jquery.ui.touch-punch.min.js" %}">
    </script>
    <script src="{% static "external/flatui/js/bootstrap.min.js" %}"></script>
    <script src="{% static "external/flatui/js/bootstrap-select.js" %}">
    </script>
    <script src="{% static "external/flatui/js/bootstrap-switch.js" %}">
    </script>
    <script src="{% static "external/flatui/js/flatui-checkbox.js" %}">
    </script>
    <script src="{% static "external/flatui/js/flatui-radio.js" %}"></script>
    <script src="{% static "external/flatui/js/jquery.tagsinput.js" %}">
    </script>
    <script src="{% static "external/flatui/js/jquery.placeholder.js" %}">
    </script>
    <script src="{% static "external/flatui/js/jquery.stacktable.js" %}">
    </script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="{% static "external/flatui/js/application.js" %}"></script>
  </body>
</html>
