body {
    color: #3e3f3a;
}

.base-header {
    margin-right: auto;
    margin-left: auto;
    padding: 1.2em 0 0 0;
}

.base-logo {
    display: inline;
    margin-left: 0px;
}

.base-logo a {
    text-decoration: none;
    color: #3e3f3a;
}

.base-nav {
    float: right;
    text-transform: uppercase;
    opacity: 0.5;
    margin-right: 0px;
}

.base-nav a {
    text-decoration: none;
}

.base-nav a::before {
    font-size: 0.8em;
    margin-right: 0.2em;
    position: relative;
    top: 0.15em;
}

.base-nav a + a {
    margin-left: 2em;
}
